h6
{
    font-family: "Brush Script MT";
    font-size: 28px;
}
p
{
	font-family: "DokChampa";
}
.subti
{
	font-family: "Arial Narrow";
	font-style: "black";
	font-weight: bold;
	font-size: 38px;
}
.inisub
{
	font-family: "Arial Narrow";
	font-style: "black";
	font-weight: bold;
	font-size: 34px;
}