<!DOCTYPE html>
  <html lang="es">
    <head> 
       <meta charset="UTF-8"/>
       <title>GALERÍA</title>
      <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="../resources/materialize/css/materialize.min.css"  media="screen,projection"/>
       <!--Agregando CSS-->
       <link type="text/css" rel="stylesheet" href="../styles/est.css"/>
       <link rel="shortcut icon" type="image/png" href="../resources/images/logo.png">
    </head>
   
    <body>
    <!--Recuadro superior de dirreción-->
        <header>
          <div  class="col s12">
            <div class="card-panel black">
              <div class="center-align col s12"><span class="white-text">República de Guatemala 90, Col. Centro, C.P. 06000</span></div>
            </div>
          </div>
        </header>
    <!--navbar-->   
        <div id="navba" class="navbar-fixed">
          <nav>
            <div class="nav-wrapper black">
              <a  class="brand-logo center"><i class="material-icons">cloud</i></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="brand-logo right hide-on-med-and-down" style="margin-right:2em;">
                  <li><a class="icono " href="https://www.facebook.com/PalacioDeMineria/"><img  src="../resources/images/facebook.png"/></a></li>
                  <li><a class="icono" href="https://twitter.com/palaciomineria?lang=es"><img  src="../resources/images/twitter.png"/></a></li>
                  <li><a class="icono" href="https://www.instagram.com/explore/locations/1012804895/palacio-de-mineria-unam-mexico-df/?hl=es"><img  src="../resources/images/foursquare.png" /></a></li>
                  <li><a class="icono" href="https://es.foursquare.com/v/palacio-de-miner%C3%ADa/4b058700f964a5206b7a22e3"><img  src="../resources/images/instagram.png"/></a></li>
              </ul>
              <ul class="left hide-on-med-and-down">
                  <li><a href="Inicio.html"">Inicio</a></li>
                  <li><a id="actualp" href="#top">Galeria</a></li>
                  <li><a href="Eventos.html">Eventos</a></li>
                  <li><a href="Nosotros.html">Nosotros</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <ul class="side-nav black" id="mobile-demo">
            <li><a class="mob white-text" href="Inicio.html">Inicio</a></li>
            <li><a id="actualp" href="#top">Galeria</a></li>
            <li><a class="mob white-text" href="Eventos.html">Eventos</a></li>
            <li><a class="mob white-text" href="Nosotros.html">Nosotros</a></li>
            <li><a class="mob white-text" href="https://www.facebook.com/PalacioDeMineria/"><img class="icono" src="../resources/images/facebook.png"/> Facebook</a></li>
            <li><a class="mob white-text" href="https://twitter.com/palaciomineria?lang=es"><img class="icono" src="../resources/images/twitter.png"/> Twitter</a></li>
            <li><a class="mob white-text" href="https://www.instagram.com/explore/locations/1012804895/palacio-de-mineria-unam-mexico-df/?hl=es"><img class="icono" src="../resources/images/foursquare.png"/> Foursqueare</a></li>
            <li><a class="mob white-text" href="https://es.foursquare.com/v/palacio-de-miner%C3%ADa/4b058700f964a5206b7a22e3"><img class="icono" src="../resources/images/instagram.png"/> Instagram</a></li>
        </ul>
    <!--fin de la navbar--> 
    <!--Imagenes-->
      <a name="top"></a>
      <div class="container">
          <div class="carousel carousel-slider col s5">
              <a class="carousel-item" href="#one!"><img src="../resources/images/DSC02281.jpg"></a>
              <a class="carousel-item" href="#two!"><img src="../resources/images/DSC02465.jpg"></a>
              <a class="carousel-item" href="#three!"><img src="../resources/images/DSC02440.jpg"></a>
              <a class="carousel-item" href="#four!"><img src="../resources/images/DSC02395.jpg"></a>
              <a class="carousel-item" href="#five!"><img src="../resources/images/DSC02422.jpg"></a>
              <a class="carousel-item" href="#six!"><img src="../resources/images/DSC02280.jpg"></a>
              <a class="carousel-item" href="#seven!"><img src="../resources/images/DSC02421.jpg"></a>
              <a class="carousel-item" href="#eight!"><img src="../resources/images/DSC02400.jpg"></a>
              <a class="carousel-item" href="#nine!"><img src="../resources/images/DSC02399.jpg"></a>
              <a class="carousel-item" href="#ten!"><img src="../resources/images/DSC02383.jpg"></a>
              <a class="carousel-item" href="#eleven!"><img src="../resources/images/DSC02331.jpg"></a>
              <a class="carousel-item" href="#twelve!"><img src="../resources/images/DSC02323.jpg"></a>
              <a class="carousel-item" href="#thirteen!"><img src="../resources/images/DSC02325.jpg"></a>
              <a class="carousel-item" href="#fourteen!"><img src="../resources/images/DSC02358.jpg"></a>
              <a class="carousel-item" href="#fifteen!"><img src="../resources/images/DSC02354.jpg"></a>
              <a class="carousel-item" href="#sixteen!"><img src="../resources/images/DSC02427.jpg"></a>
              <a class="carousel-item" href="#seventeen!"><img src="../resources/images/DSC02295.jpg"></a>
              <a class="carousel-item" href="#eighteen!"><img src="../resources/images/DSC02471.jpg"></a>
              <a class="carousel-item" href="#nineteen!"><img src="../resources/images/DSC02260.jpg"></a>
              <a class="carousel-item" href="#twenty!"><img src="../resources/images/DSC02313.jpg"></a>
              <a class="carousel-item" href="#twenty-one!"><img src="../resources/images/DSC02275.jpg"></a>
              <a class="carousel-item" href="#twenty-two!"><img src="../resources/images/DSC02428.jpg"></a>
              <a class="carousel-item" href="#twenty-three!"><img src="../resources/images/DSC02307.jpg"></a>
              <a class="carousel-item" href="#twenty-four!"><img src="../resources/images/DSC02382.jpg"></a>
              <a class="carousel-item" href="#twenty-five!"><img src="../resources/images/DSC02388.jpg"></a>
              <a class="carousel-item" href="#twenty-six!"><img src="../resources/images/DSC02307.jpg"></a>
              <a class="carousel-item" href="#twenty-seven!"><img src="../resources/images/DSC02346.jpg"></a>
              <a class="carousel-item" href="#twenty-eight!"><img src="../resources/images/DSC02462.jpg"></a>
              <a class="carousel-item" href="#twenty-nine!"><img src="../resources/images/DSC02466.jpg"></a>
              <a class="carousel-item" href="#thirty!"><img src="../resources/images/evento.jpg"></a>
          </div>
      </div>
    <!--Footer de la pagina-->
        <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col s6 l2">
                <h5 class="white-text">DIRECCIÓN</h5>
                <span>República de Guatemala 90, Col Centro, C.P. 06000</span>
              </div>
              <div class="col s6 l4">
                  <h5 class="white-text">CONTACTO</h5>
                  <a class="white-text" href="mailto:atencion@sefi.org.mx">atencion@sefi.org.mx</a>
                  <a class="white-text" href="mailto:fundraising@sefi.org.mx">fundraising@sefi.org.mx</a><br/><br/>
                  <a class="white-text" href="tel:+52">tel. 5512 3353</a><br/>
                  <a class="white-text" href="tel:+52">cel. 044 55 2305 8642</a>
              </div>
              <div class="col s12 l6" ><a name="coti"></a>
                <h5 class="white-text">SOLICITA UNA COTIZACIÓN</h5>
                <span>(favor de agregar fecha del evento)</span>
                <div>
                  <form action="../programs/php/rsdm.php" method="post">
                      <div class="col s5 l5" >
                          <div class="input-field">
                              <input id="nome" name="nom" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="nome">Nombre</label>
                          </div>
                           <div class="input-field">
                              <input id="emai" name="email" type="email" class="validate" maxlength="70" data-length="70" required>
                              <label for="emai">Email</label>
                          </div>
                           <div class="input-field">
                              <input id="tema" name="tema" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="tema">Tema</label>
                          </div>
                      </div>
                      <div id="divarea" class="input-field col s5 l6">
                             <textarea id="textarea1" name="msj" class="materialize-textarea validate" maxlength="120" data-length="120" required></textarea>
                             <label for="textarea1">Mensaje</label>
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" >Enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright black-light">
            <div class="container">RSDM All rights reserved. </div>
          </div>
        </footer>
    <!--Fin del Footer-->
    <!--Scripts-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../resources/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="../programs/js/carousel.js"></script>
      <script type="text/javascript" src="../programs/js/navbar.js"></script>
     
<!--Fin de Scripts-->
    </body>
  </html>