<!DOCTYPE html>
  <html lang="es">
    <head> 
       <meta charset="UTF-8"/>
       <title>INICIO</title>
      <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="../resources/materialize/css/materialize.min.css"  media="screen,projection"/>
       <!--Agregando CSS-->
       <link type="text/css" rel="stylesheet" href="../styles/est.css"/>
    </head>

    <body>
    <!--<body onscroll="document.getElementById('navba').style.top='6.2em';">-->
    <!--navbar-->   
        <div id="navbai" class="navbar-fixed " style="top:-.8px;">
          <nav>
            <div class="nav-wrapper black">
              <a  class="brand-logo center"><i class="material-icons">cloud</i></a>
              <span class="right" style="margin-right:2em; ">República de Guatemala 90, Col. Centro, C.P. 06000</span>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="left hide-on-med-and-down">
                  <li><a id="actualp" href="#top">Inicio</a></li>
                  <li><a href="Galería.html">Galeria</a></li>
                  <li><a href="Eventos.html">Eventos</a></li>
                  <li><a href="Nosotros.html">Nosotros</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li><a id="actualp" href="#top">Inicio</a></li>
            <li><a href="Galería.html">Galeria</a></li>
            <li><a href="Eventos.html">Eventos</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
        </ul>
    <!--fin de la navbar--> 
    <!--imagen de real seminario-->
        <div>
          <img src="../resources/images/DSC02386.jpg" class="responsive-img">
        </div>
    <!--Inicio del Articulo-->
      <article>
        <div class="row">
      <!--Imagen izquerda de ventana-->
            <div class="col s6">
              <img  src="../resources/images/DSC02301.jpg" class="responsive-img" width="723" height="651">
            </div>
      <!--Texto sobre nuestreos espacios (pantalla grande)-->
            <div class="col l3 push-l2 hide-on-med-only hide-on-small-only">
              <div style="left: 15px; width: 317px; position: absolute; top: 110px;">
                 <h5 class="inisub"><span>NUESTROS <br/> ESPACIOS</span></h5>     
              </div>
              <div style="width: 317px; position: absolute; top: 240px;">
                 <p  class="contenidos" style="line-height:1.5em;"><span>Contamos con diversos espacios, perfectos para cualquier tipo de evento, desde el patio principal capaz de albergar una comida de hasta 250 personas, hasta pequeños salones para cátedras o reuniones privadas.</span></p>
              </div>
              <div style="left: 40px; position: absolute; top: 460px;">
                  <a class="waves-effect waves-black btn white black-text" href="#coti">SOLICITA UNA COTIZACIÓN</a>
              </div>
            </div>
      <!--Texto sobre nuestreos espacios (pantalla mediana y chica)-->
            <div class="col m3 push-m1 hide-on-large-only">
              <div style="left: 15px; width: 317px; position: absolute; top: 90px;">
                 <h5  class="inisub"><span>NUESTROS <br/> ESPACIOS</span></h5>     
              </div>
              <div style="width: 317px; position: absolute; top: 220px;">
                  <p  class="contenidos" style="line-height:1.5em;"><span>Contamos con diversos espacios, perfectos para cualquier tipo de evento, desde el patio principal capaz de albergar una comida de hasta 250 personas, hasta pequeños salones para cátedras o reuniones privadas.</span></p>
              </div>
              <div style="left: 50px; position: absolute; top: 390px;">
                  <a class="waves-effect waves-black btn white black-text" href="#coti">SOLICITA UNA COTIZACIÓN</a>
              </div>
            </div>
      <!--Ultima imagen-->
              <div  class="col s12">
                <img src="../resources/images/DSC02467.jpg" class="responsive-img">
              </div>
      <!--Texto sobre nuestra historia (pantalla grande)-->  
              <div class="hide-on-med-only hide-on-small-only" style="left: 170px; width: 350px; position: absolute; top: 2480px;">
                  <h5 class="inisub"><span>NUESTRA HISTORIA</span></h5>
              </div>
              <div class="hide-on-med-only hide-on-small-only" style="left: 190px; width: 299px; position: absolute; top: 2520px;">
                  <h6 class="font_6 contenidos">"El primer colegio de ingenieros"</h6>
              </div>
              <div class="hide-on-med-only hide-on-small-only" style="left: 180px; width: 315px; position: absolute; top: 2590px;">
                  <p class="font_8 contenidos" style="line-height:1.6em;">
                      <span style="letter-spacing:0.01em;">El Real Seminario de Minería de la Nueva España fue una escuela destinada a enseñar la técnica de minas y mejorar la producción minera de la Nueva España que tenía su sede en la Ciudad de México. Su origen estuvo relacionado con las reformas borbónicas, pues querían impulsar la industria minera que era de las más productivas en la Nueva España. Es considerado el antecesor directo de todas las escuelas de ingeniería y ciencias de México.</span>
                </p>
              </div>
              <div class="hide-on-med-only hide-on-small-only" style="left: 270px; width: 200px; position: absolute; top: 2890px;"">
                  <a class="waves-effect waves-black btn white black-text" href="../programs/Nosotros.html">LEER MÁS</a>
              </div>
      <!--Texto sobre nuestra historia (pantalla mediana)-->  
              <div class="hide-on-large-only hide-on-small-only" style="left: 100px; width: 350px; position: absolute; top: 1800px;">
                  <h5 class="inisub"><span>NUESTRA HISTORIA</span></h5>
              </div>
              <div class="hide-on-large-only hide-on-small-only" style="left: 130px; width: 299px; position: absolute; top: 1850px;">
                 <h6 class="font_6 titulos">"El primer colegio de ingenieros"</h6>
              </div>
              <div class="hide-on-large-only hide-on-small-only" style="left: 110px; width: 325px; position: absolute; top: 1900px;">
                 <p class="font_8 titulos" style="line-height:1.6em;">
                      <span style="letter-spacing:0.01em;">El Real Seminario de Minería de la Nueva España fue una escuela destinada a enseñar la técnica de minas y mejorar la producción minera de la Nueva España que tenía su sede en la Ciudad de México. Su origen estuvo relacionado con las reformas borbónicas, pues querían impulsar la industria minera que era de las más productivas en la Nueva España. Es considerado el antecesor directo de todas las escuelas de ingeniería y ciencias de México.</span>
                </p>
              </div>
              <div class="hide-on-large-only hide-on-small-only" style="left: 210px; width: 200px; position: absolute; top: 2150px;">
                 <a class="waves-effect waves-black btn white black-text">LEER MÁS</a>
              </div>
      </article>
    <!--Fin del articulo-->
    <!--Footer de la pagina-->
        <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col s6 l2">
                <h5 class="white-text">DIRECCIÓN</h5>
                <span>República de Guatemala 90, Col Centro, C.P. 06000</span>
              </div>
              <div class="col s6 l4">
                  <h5 class="white-text">CONTACTO</h5>
                  <a class="white-text" href="mailto:atencion@sefi.org.mx">atencion@sefi.org.mx</a>
                  <a class="white-text" href="mailto:fundraising@sefi.org.mx">fundraising@sefi.org.mx</a><br/><br/>
                  <a class="white-text" href="tel:+52">tel. 5512 3353</a><br/>
                  <a class="white-text" href="tel:+52">cel. 044 55 2305 8642</a>
              </div>
              <div class="col s12 l6" ><a name="coti"></a>
                <h5 class="white-text">SOLICITA UNA COTIZACIÓN</h5>
                <span>(favor de agregar fecha del evento)</span>
                <div>
                  <form action="../programs/php/rsdm.php" method="post">
                      <div class="col s5 l5" >
                          <div class="input-field">
                              <input id="nome" name="nom" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="nome">Nombre</label>
                          </div>
                           <div class="input-field">
                              <input id="emai" name="email" type="email" class="validate" maxlength="70" data-length="70" required>
                              <label for="emai">Email</label>
                          </div>
                           <div class="input-field">
                              <input id="tema" name="tema" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="tema">Tema</label>
                          </div>
                      </div>
                      <div id="divarea" class="input-field col s5 l6">
                             <textarea id="textarea1" name="msj" class="materialize-textarea validate" maxlength="120" data-length="120" required></textarea>
                             <label for="textarea1">Mensaje</label>
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" >Enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright black-light">
            <div class="container">RSDM All rights reserved. </div>
          </div>
        </footer>
    <!--Fin del Footer-->
    <!--Scripts-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="../resources/materialize/js/materialize.min.js"></script>
          <script type="text/javascript" src="../programs/js/navbar.js"></script>
    <!--Fin de Scripts-->
    </body>
  </html>