<!DOCTYPE html>
  <html lang="es">
    <head> 
       <meta charset="UTF-8"/>
       <title>NOSOTROS</title>
      <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="../resources/materialize/css/materialize.min.css"  media="screen,projection"/>
       <!--Agregando CSS-->
       <link type="text/css" rel="stylesheet" href="../styles/est.css"/>
       <link rel="shortcut icon" type="image/png" href="../resources/images/logo.png">
    </head>
    <body>
    <!--Recuadro superior de dirreción-->
        <header>
          <div  class="col s12">
            <div class="card-panel black">
              <div class="center-align col s12"><span class="white-text">República de Guatemala 90, Col. Centro, C.P. 06000</span></div>
            </div>
          </div>
        </header>
    <!--navbar-->   
        <div id="navba" class="navbar-fixed">
          <nav>
            <div class="nav-wrapper black">
              <a  class="brand-logo center"><i class="material-icons">cloud</i></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="brand-logo right hide-on-med-and-down" style="margin-right:2em;">
                  <li><a class="icono " href="https://www.facebook.com/PalacioDeMineria/"><img  src="../resources/images/facebook.png"/></a></li>
                  <li><a class="icono" href="https://twitter.com/palaciomineria?lang=es"><img  src="../resources/images/twitter.png"/></a></li>
                  <li><a class="icono" href="https://www.instagram.com/explore/locations/1012804895/palacio-de-mineria-unam-mexico-df/?hl=es"><img  src="../resources/images/foursquare.png" /></a></li>
                  <li><a class="icono" href="https://es.foursquare.com/v/palacio-de-miner%C3%ADa/4b058700f964a5206b7a22e3"><img  src="../resources/images/instagram.png"/></a></li>
              </ul>
              <ul class="left hide-on-med-and-down">
                  <li><a href="Inicio.html"">Inicio</a></li>
                  <li><a href="Galería.html">Galeria</a></li>
                  <li><a href="Eventos.html">Eventos</a></li>
                  <li><a id="actualp" href="#top">Nosotros</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <ul class="side-nav black" id="mobile-demo">
            <li><a class="mob white-text" href="Inicio.html">Inicio</a></li>
            <li><a class="mob white-text" href="Galería.html">Galeria</a></li>
            <li><a class="mob white-text" href="Eventos.html">Eventos</a></li>
            <li><a id="actualp" href="#top" >Nosotros</a></li>
            <li><a class="mob white-text" href="https://www.facebook.com/PalacioDeMineria/"><img class="icono" src="../resources/images/facebook.png"/> Facebook</a></li>
            <li><a class="mob white-text" href="https://twitter.com/palaciomineria?lang=es"><img class="icono" src="../resources/images/twitter.png"/> Twitter</a></li>
            <li><a class="mob white-text" href="https://www.instagram.com/explore/locations/1012804895/palacio-de-mineria-unam-mexico-df/?hl=es"><img class="icono" src="../resources/images/foursquare.png"/> Foursqueare</a></li>
            <li><a class="mob white-text" href="https://es.foursquare.com/v/palacio-de-miner%C3%ADa/4b058700f964a5206b7a22e3"><img class="icono" src="../resources/images/instagram.png"/> Instagram</a></li>
        </ul>
    <!--fin de la navbar--> 
          
        <img src="../resources/images/DSC02330.jpg" class="responsive-img">

    <!--Texto de historia y funcionamiento-->
        <div class="row">
          <div class="col s8 push-s2">
            <p class="font_8 titulos"><span class="subti">Historia y funcionamiento</span></p>
            <h6 class="font_6 titulos">Real Seminario de Minería</h6>
            <p class="font_8 contenidos">El Real Seminario de Minería de la Nueva España fue fundado el 1 de enero de 1792, con sede en la calle de Guatemala No. 90, con el propósito de enseñar la técnica de minas y mejorar la producción de la minería en la Nueva España; las clases iniciaron en marzo de ese mismo año con 25 alumnos. Fue hasta el año 1813 cuando comenzaron las labores en lo que ahora es El Palacio de Minería, ubicado en la calle Tacuba del Centro Histórico de la Ciudad de México, edificada por el arquitecto de origen español Manuel Tolsá.</p><br/>
            <p class="font_8 contenidos">Su belleza de estilo neoclásico lo convirtió en un ícono de la arquitectura en todo el continente americano.</p>
            <p class="font_8 contenidos">Fausto Elhúyar y de Zúbice, presidente y director general del Real Tribunal de Minería de Nueva España, es quien recibe gran parte del mérito de la fundación de esta escuela. Entre algunos de los catedráticos del recinto destacan Don Andrés Manuel del Río, Ludiwg Linder y Alexander von Humboldt.</p>
          </div>
        </div>
        <div id="pnosotros" class="parallax-container">
             <div class="parallax"><img src="../resources/images/DSC02355.jpg"></div>
        </div>
    <!--Texto de historia moderna-->
        <div class="row">
          <div class="col s12">
            <p class="font_8 titulos"> <span class="subti">HISTORIA MODERNA</span></p>
              <h6 class="font_6 titulos">Seminario Real de Minería</h6>
              <div class="col s8 push-s2">
                <p class="font_8 contenidos">
                  Al día de hoy el Real Seminario de Minería se encuentra bajo la administración de la Sociedad de Ex alumnos de la Facultad de Ingeniería de la UNAM, quienes en diversos esfuerzos de remodelación han logrado dotar al inmueble de la capacidad de recibir diversos eventos y  a su vez la capacidad de ser casa de una de las Facultades de idiomas más importantes del país, el ENALLT.
                </p>
              </div>
          </div>
        </div>
    <!--Footer de la pagina-->
        <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col s6 l2">
                <h5 class="white-text">DIRECCIÓN</h5>
                <span>República de Guatemala 90, Col Centro, C.P. 06000</span>
              </div>
              <div class="col s6 l4">
                  <h5 class="white-text">CONTACTO</h5>
                  <a class="white-text" href="mailto:atencion@sefi.org.mx">atencion@sefi.org.mx</a>
                  <a class="white-text" href="mailto:fundraising@sefi.org.mx">fundraising@sefi.org.mx</a><br/><br/>
                  <a class="white-text" href="tel:+52">tel. 5512 3353</a><br/>
                  <a class="white-text" href="tel:+52">cel. 044 55 2305 8642</a>
              </div>
              <div class="col s12 l6" ><a name="coti"></a>
                <h5 class="white-text">SOLICITA UNA COTIZACIÓN</h5>
                <span>(favor de agregar fecha del evento)</span>
                <div>
                  <form action="../programs/php/rsdm.php" method="post">
                      <div class="col s5 l5" >
                          <div class="input-field">
                              <input id="nome" name="nom" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="nome">Nombre</label>
                          </div>
                           <div class="input-field">
                              <input id="emai" name="email" type="email" class="validate" maxlength="70" data-length="70" required>
                              <label for="emai">Email</label>
                          </div>
                           <div class="input-field">
                              <input id="tema" name="tema" type="text" class="validate" maxlength="70" data-length="70" required>
                              <label for="tema">Tema</label>
                          </div>
                      </div>
                      <div id="divarea" class="input-field col s5 l6">
                             <textarea id="textarea1" name="msj" class="materialize-textarea validate" maxlength="120" data-length="120" required></textarea>
                             <label for="textarea1">Mensaje</label>
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" >Enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright black-light">
            <div class="container">RSDM All rights reserved. </div>
          </div>
        </footer>
    <!--Fin del Footer-->
    <!--Scripts-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../resources/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="../programs/js/navbar.js"></script>
        <script type="text/javascript" src="../programs/js/parallax.js"></script>
   </body>
</html>